[submodule "third_party/Gameboy-logs"]
	path = third_party/Gameboy-logs
	url = https://github.com/wheremyfoodat/Gameboy-logs.git
[submodule "third_party/gb-test-roms"]
	path = third_party/gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
