[submodule "third_party/gb-test-roms"]
	path = third_party/gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
[submodule "third_party/gameboy-doctor"]
	path = third_party/gameboy-doctor
	url = https://github.com/robert/gameboy-doctor.git
